[submodule "build/kakoune"]
	path = build/kakoune
	url = https://github.com/mawww/kakoune
[submodule "build/parallel"]
	path = build/parallel
	url = https://github.com/mmstick/parallel
[submodule "build/dekryptize"]
	path = build/dekryptize
	url = git@github.com:mjosaarinen/dekryptize.git
[submodule "bin/hexd"]
	path = bin/hexd
	url = git@github.com:FireyFly/hexd.git
[submodule "build/pixd"]
	path = build/pixd
	url = git@github.com:FireyFly/pixd.git
