[submodule "build/hexd"]
	path = build/hexd
	url = https://github.com/FireyFly/hexd
[submodule "build/pixd"]
	path = build/pixd
	url = https://github.com/FireyFly/pixd
[submodule "build/dekryptize"]
	path = build/dekryptize
	url = https://github.com/mjosaarinen/dekryptize
[submodule "build/kakoune"]
	path = build/kakoune
	url = https://github.com/mawww/kakoune
[submodule "build/parallel"]
	path = build/parallel
	url = https://github.com/mmstick/parallel
